@{
    Layout = "_DarkLayout";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a 'Northwind' database management portal.</p>
</div>
